// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #6d6875 !default;
$fg-color: #ffcdb2 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
$link-color: #1565c0 !default;

// Colors inverted
$bg-color-inverted: #50514f !default;
$fg-color-inverted: #fdfffc !default;
$alt-bg-color-inverted: #424242 !default;
$alt-fg-color-inverted: #fdfffc !default;
$link-color-inverted: #ffe066 !default;
